#============================#   共通    #============================#

# VSCode設定（チームで共有不要なら無視）
.vscode/

# Pythonのバイトコードキャッシュ
__pycache__/
*.pyc

#============================#  02_electronTest     #============================#
# npm install で再構築可能
node_modules/

# Electronが自動生成するバイナリやキャッシュの一時ファイル
dist/
out/


# 環境変数
.env

