#============================#   共通    #============================#

# VSCode設定（チームで共有不要なら無視）
.vscode/

# Pythonのバイトコードキャッシュ
__pycache__/
*.pyc

python-3.12.4-embed

generate_project_summary.py
result.txt

chainlit_app\*_summary.txt
# https://github.com/Olemi-llm-apprentice/generate-project-summary/blob/main/generate_project_summary.py

#============================#  01_chainlitTest     #============================#
# 環境変数
.env

# チャット履歴
chainlit_app/chatlogs/**
!chainlit_app/chatlogs/.gitkeep

# 自動生成されるChainlit関連
chainlit_app/.chainlit

# Nuitka自動生成される
chainlit_app/main.build
chainlit_app/main.dist
chainlit_app/.files
chainlit_app/main.onefile-build
chainlit_app/main.exe
chainlit_app/nuitka-crash-report.xml

#============================#  02_electronTest     #============================#
# npm install で再構築可能
electron/node_modules
electron/.chainlit

# Electronが自動生成するバイナリやキャッシュの一時ファイル
dist/
out/
chainlit_app\.files
electron-chainlit.log